.add-user-container{
    display: grid;
    justify-content: inherit;
    align-items: center;
    position: relative;
    padding: 10px;   
}

.content-heading{
    align-self: center;
    padding: 10px;
}

.input-items{
    padding: 5px;
}

.MuiAvatar-root {
    width: 100px !important;
    height: 100px !important;
}

